.main__sidebar{
    &__header{
        background: $color-3;
        padding: 0 0.5rem;
        color: $white;
        height: $header-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1,{
            margin: 0;
            font-size: 1rem;
            font-weight: 100;
        }
    }
}