body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.footer{
    margin-top: auto;
    // background: $color-2;
    // color: $white_darck;
}
.contentFluit{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100%;
}
.main{
}
.header{
}