.primaryMenu{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        margin: 0 0.5rem;
    }
    &__link{
        text-decoration: none;
    }
    &__form{
        [type*='submit']{
            display: none;
        }
    }
}